<style>
    .advantage {
        display: flex;
        margin-left: 4%;
        margin-right: 4%;
        align-items: center;
        overflow: hidden
    }

    .advantage-icon {
        width: 15%;
        object-fit: cover;
        object-position: center;
        border-radius: 0.4vw;
    }

    .advantage-text {
        flex: 1;
        margin-left: 5%;
        font-size: 1.1vw;
        font-weight: 700;
        line-height: 1.5vw;
    }
</style>

<div class="advantage">
    <img class="advantage-icon" src=@source>
    <p class="advantage-text">
        @text
    </p>
</div>

@code {
    [Parameter] public string source { get; set; }
    [Parameter] public string text { get; set; }
}
