<style>
    .footer {
        height: 5vh;
        display: flex;
        align-items: center;
        background-color: #283249;
    }

    .about-us {
        margin-left: 2%;
        color: white;
        font-size: 0.6vw;
        font-weight: 400;
        cursor: pointer;
        text-decoration: underline;
    }

    .r2024 {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

        .r2024 p {
            margin-right: 2%;
            color: white;
            font-size: 0.7vw;
            font-weight: 400;
        }
</style>

<div class="footer">
    <a class="about-us" href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D1%81%D1%82%D0%B5%D0%BB%D0%B5%D0%BA%D0%BE%D0%BC" target="_blank">О нас</a>
    <a class="about-us" href="https://vladimir.rt.ru/legal" target="_blank">Политика конфиденциальности</a>
    <div class="r2024">
        <p>© Ростелеком 2024</p>
    </div>
</div>