<style>
    .nothing {
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }

    .nothing-image {
        object-fit: cover;
        object-position: center;
    }

    .nothing-text {
        font-size: 1.1vw;
        font-weight: 500
    }
</style>

<div class="nothing">
    <img class="nothing-image" src="images/search.svg" />
    <p class="nothing-text">Извините, но ничего не найдено</p>
</div>