@page "/CoursePage"

<link href="css/coursePage.css" rel="stylesheet" />
<div class="page">
    <Header/>
    <div class="main">
        @switch(index)
        {
            case 1:
                switch(pageIndex) {
                    case 1:
                        <h1>Тайм-менеджмент</h1>
                        <p>Тайм-менеджмент — это техники и методы для управления временем, позволяющие повысить уровень самоорганизации и управления своими задачами.
                            Тайм-менеджмент помогает нам эффективно планировать свое время и экономить ресурсы. </p>
                        <p>Практически все существующие методы управления временем состоят из трех компонентов: приоритизации, планирования и структурирования.</p>
                        <p>Приоритизация. Чтобы выполнить задачу, нужно определить, насколько она срочная, сложная и важная, и только потом приступить к ее выполнению.</p>
                        <p>Планирование. Чтобы выполнить задачу, нужно разобраться, когда ее следует сделать и сколько времени на это уйдет.</p>
                        <p>Структурирование. Чтобы выполнить задачу, нужно понять, как отслеживать ее выполнение и результаты.</p>
                        <img src="c-images/time-management.png"/>
                        <h1>Матрица Эйзенхауэра</h1>
                        <p>Матрица Эйзенхауэра - Это простая модель, которая помогает расставлять приоритеты в работе на основе двух векторов: важности и срочности работы. 
                            Нужно записать все ваши дела, распределив их на четыре группы:</p>
                        <p>Срочные и важные задачи выполняйте сразу и самостоятельно. Они имеют большое влияние на будущее, делегировать их нельзя.</p>
                        <p>Важные несрочные дела — самый комфортный режим работы. В нём вы можете планировать, взвешивать, рассчитывать и заниматься важными делами. Старайтесь
                            держаться именно в этом сегменте матрицы. В нём вы можете быть наиболее сосредоточенными и эффективными.</p>
                        <p>Срочные и неважные задачи делегируйте. Они отнимают много времени, но не приносят пользы.</p>
                        <p>Несрочные и неважные вычёркивайте.</p>
                        <img src="c-images/eizen.png"/>
                        break;
                    case 2:
                        <h1>Принцип Парето</h1>
                        <p>Парето подсчитал, что лишь 20% товаров в ассортименте магазина приносят 80% выручки, а при посадке гороха 20% семян дают 80% урожайных всходов. 
                            Эти цифры могут колебаться, например, иногда 30% сотрудников компании обеспечивают только 60% дохода. При этом нельзя уволить остальных сотрудников, 
                            уменьшить количество саженцев или товаров: баланс нарушится и общая эффективность упадёт.В области управления временем принцип Парето означает, что 80% работы
                            выполняется за 20% времени и 80% усилий тратится на 20% результата.</p>
                        <img src="c-images/pareto.png"/>
                        <p>Принцип Парето в управлении временем достаточно прост. Вы анализируете все предстоящие дела и выбираете из них те, которые приведут к конечному результату. 
                            Сложным и ответственным делам нужно отводить ⅕ часть имеющегося времени, причём самые продуктивные часы. Бесполезную активность просто вычеркиваете из списка дел.</p>
                        <h1>Правило 1-3-5</h1>
                        <p>Метод 1-3-5 — это способ планирования, который заключается в том, чтобы выполнять за день только 9 задач.</p>
                        <p>Дела в списке образуют что-то вроде пирамиды: мы начинаем с ее вершины (самого важного) и двигаемся к основанию (к второстепенному).</p>
                        <img src="c-images/135.png"/>
                        <p>Если у вас есть ощущение, что вы ничего не успеваете, то девять конкретных дел, распределенных по срочности, помогут от него избавиться. Каждый день выполняя по важному
                            делу, вы постепенно разгребете «завалы», если такие имеются, а если нет — повысите свою продуктивность.</p>
                        break;
                    case 3:
                        <h1>Диаграмма Ганта</h1>
                        <p>Это визуальное представление запланированных дел в виде календаря. Укажите в диаграмме задачи, их сроки, время и порядок выполнения.</p>
                        <p>Эта ленточная диаграмма представляет собой две шкалы: шкала выполняемых задач и временная шкала. В соответствии со сроком, отведенным по проекту каждой задаче,
                            он откладывается на временной шкале.</p>
                        <img src="c-images/hunt.png"/>
                        <p>Необходимо создать таблицу с исходными данными: задача, дата начала и длительность или планируемая дата окончания.</p>
                        <p>Делать это можно где угодно: хоть на листке бумаги, хоть сразу в программе для построения диаграмм. </p>
                        <p>Разместите свои задачи на временной шкале, ограничив их сроками выполнения. Иногда задачи могут зависеть друг от друга. В таких случаях между ними создается линии взаимосвязи в виде стрелок.</p>
                        break;
                }
                break;
            case 20:
                switch (pageIndex) {
                    case 1:
                        <h1>Мобильная связь от Теле2</h1>
                        <p>Tele2 — крупный оператор мобильной связи, предоставляющий свои услуги по всей России. Давай посмотрим, что доступно абонентам Ростелеком при пользовании sim–картой Tele2</p>
                        <p>Можно бесплатно делиться гигабайтами интернета из своего тарифа от 1 ГБ до 30 ГБ с любыми абонентами Tele2, у которых в абонентскую плату включен пакет интернета. Делиться 
                            можно при помощи USSD команды: *974 * номер принимающего абонента начиная с 7 * кол - во ГБ для передачи# Срок действия переданного пакета — 7 дней.</p>
                        <img src="c-images/tele2.webp"/>
                        <h1>Безлимит на Tele2</h1>
                        <p>Безлимитные и бесплатные звонки на Теле2 по всей России</p>
                        <h1>Перенос остатков</h1>
                        <p>На всех тарифах линейки Tele2 можно потратить остатки неизрасходованных пакетов минут, интернета и SMS в следующем месяце. Остатки переносятся автоматически на следующий месяц
                            при своевременной оплате. Проверить остатки можно в личном кабинете "Мой Tele2" или с помощью USSD команды: *105#</p>
                        break;
                    case 2:
                        <h1>Техника продаж</h1>
                        <img src="c-images/tele2-2.webp" />
                        <h1>— У меня уже есть sim/все устраивает</h1>
                        <p>— Иван Ильич, понимаю, привычка-вторая натура. Подскажите, а что мешает вам попробовать новое и убедиться в выгоде и качестве другого оператора? Пользуясь Tele2, вы будете получать больше и выгоднее, а свой номер при переходе вы сможете сохранить. Уверен, что вы останетесь довольным!</p>
                        <h1>— У меня тариф дешевле</h1>
                        <p>Анна Викторовна, действительно, цена важна при выборе тарифа и оператора. При этом не всегда очевидно, за что еще, кроме основных пакетов минут и ГБ, вы платите. Например, в Tele2 в абонентскую плату уже включены полезные подарки и акции в программе "Больше" в Личном кабинете, где вы
                            можете со скидкой посетить культурное мероприятие или выпить чашку кофе в понедельник абсолютно бесплатно! А если будут оставаться минуты и ГБ, их всегда можно продать на Маркете Tele2. Давайте покажу, как получить подарок уже сейчас?</p>
                        <h1>— У меня тариф с безлимитным интернетом</h1>
                        <p>— Сергей Петрович, хороший выбор! Подскажите, как часто вы ездите по стране или в командировки? Я спрашиваю, поскольку у нас тоже тариф Black с безлимитным доступом к мессенджерам и огромным пакетом интернет, который действует в поездках по России, что позволит вам оставаться на связи без
                            переплат в любом городе страны! Удобно, согласитесь?</p>
                        break;
                    case 3:
                        <h1>Оформление</h1>
                        <p>После завершения сделки с клиентом, тебе необходимо оформить заявку в Мобильном агенте Ростелеком, а затем активировать sim-карту. Приложение Tele2 AppSeller поможет тебе сделать это быстро и просто со своего смартфона.</p>
                        <p>- Для подключения потребуется:</p>
                        <p>- SIM-карта</p>
                        <p>- Смартфон с подключением к интернету</p>
                        <p>- Личное присутствие клиента</p>
                        <p>- Паспорт клиента</p>
                        <p>Установленные приложения</p>
                        <p>Мобильный агент Ростелеком и Tele2 AppSeller</p>
                        break;
                }
                break;
            case 11:
                switch (pageIndex)
                {
                    case 1:
                        <h1>Коллтрекинг. Понятия цифрового маркетинга и интернет-рекламы</h1>
                        <p>Цифровой (он же диджитал) маркетинг — это собирательное название для продвижения товаров и услуг с использованием цифровых каналов коммуникаций.</p>
                        <img src="c-images/calltracking.png" />
                        <p>Коллтрекинг – инструмент мониторинга телефонных звонков и анализа эффективности рекламных кампаний, позволяющий связать звонок с рекламным источником
                            и пользовательской сессией на сайте. </p>
                        <p>Статический коллтрекинг - Подходит для онлайн- и офлайн-каналов: рекламы в интернете, на радио и ТВ, печатных СМИ</p>
                        <p>Динамический коллтрекинг - Подходит для онлайн-рекламы</p>
                        <img src="c-images/calltracking2.webp"/>
                        break;
                    case 2:
                        <h1>Целевая аудитория</h1>
                        <p>Клиенты из любой сферы бизнеса, которые используют цифровые и классические каналы взаимодействия с клиентами</p>
                        <h1>Портрет потребителя</h1>
                        <p>Маркетологи, digital-маркотологи, отдел продаж, владельцы бизнеса</p>
                        <img src="c-images/calltracking3.png" />
                        <p>В личном кабинете доступен функционал аналитики, которая позволяет клиенту в реальном времени видеть расширенную статистику по сервисам. Для визуализации
                            доступны настраиваемые дашборды (дополнительная платная опция), с помощью которых можно анализировать необходимые данные по рекламным кампаниям,
                            звонкам, заявкам и т.д.</p>
                        <p>Лид – это опция, позволяющая разместить на сайте клиента виджеты (формы взаимодействия с посетителем), которые работают в соответствии с заранее
                            настроенными сценариями. </p>
                        <img src="c-images/calltracking4.png"/>
                        break;
                }
                break;
        }
    </div>
    <div class="button-container">
        <button @onclick="pageIndexDown">Предыдущая</button>
        <p>Страница @pageIndex/@maxIndex</p>
        @if (!(pageIndex == maxIndex))
        {
            <button @onclick="pageIndexUp">Следующая</button>
        }
        else {
            <button style="background-color: brown" @onclick="finish">Завершить курс</button>
        }
    </div>
    <Footer />
</div>

@code {
    private List<Course> courses = new List<Course>();
    private List<Objective> objectives = new List<Objective>();
    private int? index = CourseContext.id;
    private int pageIndex = 1;
    private int maxIndex;

    protected override async Task OnInitializedAsync()
    {
        objectives = await SQLiteService.getObjectivesAsync();
        switch(CourseContext.id)
        {
            case 1: maxIndex = 3; break;
            case 11: maxIndex = 2; break;
            case 20: maxIndex = 3; break;
        }
    }

    private void pageIndexDown()
    {
        if (pageIndex > 1) pageIndex--;
    }

    private void pageIndexUp()
    {
        if(pageIndex < maxIndex) pageIndex++;
    }

    private async Task finish()
    {
        foreach(var o in objectives)
        {
            if((o.Course_Id == CourseContext.id) && (o.Employee_Id == UserContext.id) && (o.IsFinished == false) && (o.IsObligatory == false))
            {
                await SQLiteService.AddObjectiveAsync(UserContext.id, CourseContext.id, true, false);
                NavManager.NavigateTo("Central");
                return;
            }
            else if ((o.Course_Id == CourseContext.id) && (o.Employee_Id == UserContext.id) && (o.IsFinished == false) && (o.IsObligatory == true))
            {
                await SQLiteService.RemoveObjectiveAsync(UserContext.id, CourseContext.id);
                await SQLiteService.AddObjectiveAsync(UserContext.id, CourseContext.id, true, false);
                NavManager.NavigateTo("Central");
                return;
            }
            else {
                await SQLiteService.AddObjectiveAsync(UserContext.id, CourseContext.id, true, false);
                NavManager.NavigateTo("Central");
                return;
            }
            NavManager.NavigateTo("Central");
        }
    }

}