
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Helvetica;
    background-color: whitesmoke;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}

.main {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden
}

.employee-list {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    column-gap: 3%;
}

.employee-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0.5vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 15%;
    padding: 0.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .employee-card img {
        width: 100px; 
        height: 100px;
        border-radius: 50%;
        margin-bottom: 0.4vw;
    }

.stats-column {
    text-align: center;
    margin-bottom: 0.5vw; 
}
